doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        <!--Owl-Carousel-->
        link(rel="stylesheet", href="")
        link(rel="stylesheet", href="")
        <!--Custom-Style-->
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        title TUC | Webbapplication 
    body
        header
            <!------Navigation------>
            nav.nav
                .nav-menu.flex-row
                    .nav-brand
                        a.text-gray(href="#") Blogger
                .toggle-collapse
                    .toggle-icons
                        i.fa.fa-bars
            div
                ul.nav-items
                    li.nav-link
                        a(href="#") Home
                    li.nav-link
                        a(href="#") Category
                    li.nav-link
                        a(href="#") Archive
                    li.nav-link
                        a(href="#") Pages
                    li.nav-link
                        a(href="#") Contact 
            .social.text-gray
                a(href="#")
                    i.fa.fa-facebook
                a(href="#")
                    i.fa.fa-instagram
                a(href="#")
                    i.fa.fa-twitter
                a(href="#")
                    i.fa.fa-youtube
            <!--x---Navigation---x-->